In [2]:
pip install mlxtend

Collecting mlxtend
  Downloading mlxtend-0.21.0-py2.py3-none-any.whl (1.3 MB)
Requirement already satisfied: scipy>=1.2.1 in c:\users\puneet\anaconda3\lib\site-packages (from mlxtend) (1.7.3)
Requirement already satisfied: pandas>=0.24.2 in c:\users\puneet\anaconda3\lib\site-packages (from mlxtend) (1.4.2)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\puneet\anaconda3\lib\site-packages (from mlxtend) (1.0.2)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\puneet\anaconda3\lib\site-packages (from mlxtend) (3.5.1)
Requirement already satisfied: joblib>=0.13.2 in c:\users\puneet\anaconda3\lib\site-packages (from mlxtend) (1.1.0)
Requirement already satisfied: setuptools in c:\users\puneet\anaconda3\lib\site-packages (from mlxtend) (61.2.0)
Requirement already satisfied: numpy>=1.16.2 in c:\users\puneet\anaconda3\lib\site-packages (from mlxtend) (1.21.5)
Requirement already satisfied: packaging>=20.0 in c:\users\puneet\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (21.3)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\puneet\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: cycler>=0.10 in c:\users\puneet\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\puneet\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.3.2)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\puneet\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (4.25.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: pillow>=6.2.0 in c:\users\puneet\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (9.0.1)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\puneet\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.4)
Requirement already satisfied: pytz>=2020.1 in c:\users\puneet\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\puneet\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\puneet\anaconda3\lib\site-packages (from scikit-learn>=1.0.2->mlxtend) (2.2.0)
Installing collected packages: mlxtend
Successfully installed mlxtend-0.21.0

In [3]:
import pandas
from mlxtend.preprocessing import TransactionEncoder

In [5]:
#read data
dinosaurList = pandas.read_csv('dinosaur.csv')

In [6]:
#print data
display(dinosaurList)

                Name             Period       Diet        Country
0           Aardonyx           Jurassic  herbivore   South Africa
1        Abelisaurus  Cretaceous         carnivore  South America
2      Abrictosaurus           Jurassic  herbivore   South Africa
3         Abrosaurus           Jurassic  herbivore          China
4        Abydosaurus         Cretaceous  herbivore  North America
...              ...                ...        ...            ...
1149  Zizhongosaurus           Jurassic  herbivore          China
1150    Zuniceratops         Cretaceous  herbivore  North America
1151         Zuolong           Jurassic  carnivore          China
1152     Zupaysaurus           Triassic  carnivore  South America
1153            Zuul         Cretaceous  herbivore  North America

[1154 rows x 4 columns]

In [7]:
"""
#Itemset generation for finding association between the period and the diet of the dinosaurs.
"""

# Normalize, strip and lower case the values of Period and Diet columns

dinosaurList["Period"] = dinosaurList["Period"].str.normalize('NFKD')
dinosaurList["Diet"] = dinosaurList["Diet"].str.normalize('NFKD')
dinosaurList["Period"] = dinosaurList["Period"].str.strip()
dinosaurList["Diet"] = dinosaurList["Diet"].str.strip()
dinosaurList["Period"] = dinosaurList["Period"].str.replace('(','').replace(')','')
dinosaurList["Diet"] = dinosaurList["Diet"].str.replace('(','')
dinosaurList["Diet"] = dinosaurList["Diet"].str.replace(')','')
dinosaurList["Diet"] = dinosaurList["Diet"].str.replace('?','')
dinosaurList["Period"] = dinosaurList["Period"].str.lower()
dinosaurList["Diet"] = dinosaurList["Diet"].str.lower() 

# Creating a new dataframe with data from Period and Diet columns
dataa = [list(dList) for dList in zip(dinosaurList["Period"], dinosaurList["Diet"])]

C:\Users\Puneet\AppData\Local\Temp\ipykernel_30624\3504220584.py:11: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  dinosaurList["Period"] = dinosaurList["Period"].str.replace('(','').replace(')','')
C:\Users\Puneet\AppData\Local\Temp\ipykernel_30624\3504220584.py:12: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  dinosaurList["Diet"] = dinosaurList["Diet"].str.replace('(','')
C:\Users\Puneet\AppData\Local\Temp\ipykernel_30624\3504220584.py:13: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  dinosaurList["Diet"] = dinosaurList["Diet"].str.replace(')','')
C:\Users\Puneet\AppData\Local\Temp\ipykernel_30624\3504220584.py:14: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  dinosaurList["Diet"] = dinosaurList["Diet"].str.replace('?','')

In [8]:
#Using transaction encoder to transform the dataframe
trnxnEncdr = TransactionEncoder()
trnxnEncdrArry = trnxnEncdr.fit(dataa).transform(dataa)
encodedDF = pandas.DataFrame(trnxnEncdrArry, columns=trnxnEncdr.columns_)
encodedDF

,,carnivore,carnivore/insectivore,carnivore/omnivore,cretaceous,early cretaceous,early jurassic,early-late cretaceous,herbivore,herbivore/omnivore,...,late cretaceous,late triassic,middle jurassic,omnivore,omnivorous,triassic,triassic or jurassic,triassic/jurassic,unknown,unknown)
0,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
1,False,True,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,True,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1149,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
1150,False,False,False,False,True,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
1151,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1152,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
1153,False,False,False,False,True,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False

In [9]:
from mlxtend.frequent_patterns import apriori

#Minimum support in this experiment = 10%
#Minimum confidence = 10%
# Generating frequent itemsets
frqIt = apriori(encodedDF, min_support=0.1, use_colnames=True)
frqIt['length'] = frqIt['itemsets'].apply(lambda x: len(x))
frqIt

    support                 itemsets  length
0  0.303293              (carnivore)       1
1  0.662045             (cretaceous)       1
2  0.624783              (herbivore)       1
3  0.229636               (jurassic)       1
4  0.188042  (carnivore, cretaceous)       2
5  0.419411  (cretaceous, herbivore)       2
6  0.149913    (jurassic, herbivore)       2

In [10]:
# Filtering frequent itemsets of length 2 and support >= 10%
frqIt[ (frqIt['length'] == 2) & (frqIt['support'] >= 0.1) ]

    support                 itemsets  length
4  0.188042  (carnivore, cretaceous)       2
5  0.419411  (cretaceous, herbivore)       2
6  0.149913    (jurassic, herbivore)       2

In [11]:
"""
#Rule Generation using specified confidence value
"""
from mlxtend.frequent_patterns import association_rules

assRules = association_rules(frqIt, metric="confidence", min_threshold=0.1)

assRules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(carnivore),(cretaceous),0.303293,0.662045,0.188042,0.620000,0.936492,-0.012752,0.889355
1,(cretaceous),(carnivore),0.662045,0.303293,0.188042,0.284031,0.936492,-0.012752,0.973097
2,(cretaceous),(herbivore),0.662045,0.624783,0.419411,0.633508,1.013964,0.005776,1.023805
3,(herbivore),(cretaceous),0.624783,0.662045,0.419411,0.671290,1.013964,0.005776,1.028125
4,(jurassic),(herbivore),0.229636,0.624783,0.149913,0.652830,1.044890,0.006441,1.080787
5,(herbivore),(jurassic),0.624783,0.229636,0.149913,0.239945,1.044890,0.006441,1.013563